body{
    background-color: yellowgreen;
}
li{
    /* display: inline-block; */
    float: left;
    margin: 10px;
}
ul{
    width: 400px;
    margin: auto;
    position: relative;
    overflow: auto;
    zoom: 1;
}
h1{
    width: 400px;
    margin: auto;
}
hr{
    width: 400px;
}
img{
    display: block;
    width: 400px;
    margin: auto;
}